<div class="row">
  <div class="col-sm-6">
  <!-- Users section -->
    <div class="users-section">
      <p class="permissions-link"><%= link_to 'Manage Users', users_path %></p>
      <h3>Users</h3>
        <ul class="list-group">
        <% @users.each do |user| %>
          <% unless user == current_user %>
            <li class="list-group-item"><span class="user-name"><%= user.first_name %> <%= user.last_name %></span> <span class="user-position"><%= user.position %></span></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <!-- Company Details -->
    <h3><%= @company.name %></h3>
    <ul class="list-group">
      <li class="list-group-item">Address: <%= @company.address %></li>
      <li class="list-group-item">Phone: <%= @company.phone_number %></li>
      <li class="list-group-item">City: <%= @company.city %></li>
      <li class="list-group-item">Country: <%= @company.country %></li>
      <li class="list-group-item">Description: <%= @company.description %></li>
      <li class="list-group-item">Tin Number: <%= @company.tin %></li>
    </ul>

    
  </div>

  <!-- Recent Activity -->
  <div class="col-sm-6" id="activity-feed">
    <h3>Recent Activity</h3>
    <%= render 'shared/activities' %>
  </div>
</div>