<div class="panel panel-default text-center">
  <div class="panel-body">
    <h1>Welcome, <%= current_user.first_name%> <%= current_user.last_name %></h1>
    <button class="btn btn-lg btn-default"><%= link_to "View folders", folders_path %></button>
  </div>
</div>

<% if current_user.role == "admin" %>
  <!-- Show activity feed of users and documents -->
  <div class="well text-center">
  <% @documents.each do |document| %>
    <% if document.doc_or_spreadsheet? %>
      <%= render 'documents/zoho_form', document: document %>
      format: <%= ZohoService.new(document).file_format %> <br />
      zoho_url: <%= ZohoService.new(document).zoho_url %> <br />
      ... <br>
    <% else %>
      Nope
      format: <%= ZohoService.new(document).file_format %> <br />
    <% end %>
  <% end %>
  </div>
  <!-- Link to folders -->
<% elsif current_user.role == "reporting" %>
  <!-- Show folder for the current_user's allowed folders -->
<% elsif current_user.role == "standard" %>
  <!-- Not sure why this role even exists lol -->
<% end %>