<nav class="navbar navbar-inverse navbar-fixed-top" id="main-navbar" role="navigation" style="margin-bottom: 0">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="brand-header">Trust Construction</div>
      <% end %>
    </div>

    <!-- For toggling collapsible navmenu -->
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to @company.name, company_path(@company) %></li>
          <li><%= link_to "Folders", folders_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false"><%= "#{current_user.first_name} #{current_user.last_name}" %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to 'Dashboard', dashboard_path %></li>
              <% end %>
              <li><%= link_to 'Settings', settings_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>

      <% else %>
        <div class="navbar-right">
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-raised btn-success navbar-btn" %>
          <%= link_to 'Log In', user_session_path, class: "btn btn-raised btn-success navbar-btn btn-right" %>
        </div>
      <% end %>
    </div>

  </div><!-- /.container-fluid -->
</nav>