<div class="nav-side-menu">
  <!-- Logo -->
  

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
    
      <!-- Home -->
        <li>
          <%= link_to root_path do %>
            <i class="material-icons">home</i> Home
          <% end %>
        </li>

      <!-- COMPANY -->
      <% if user_signed_in? %>
        <li  data-toggle="collapse" data-target="#company-nav" class="menu-link collapsed">
          <%= link_to '#' do %>
            <i class="material-icons">location_city</i> <%= current_company.name %>
            <i class="material-icons expand-more">expand_more</i>
          <% end %>
        </li>
        <ul class="sub-menu collapse" id="company-nav">
          <li><i class="material-icons chevron-right">chevron_right</i><%= link_to "Show Page", company_path(current_company), remote: true %></li>
          <li><i class="material-icons chevron-right">chevron_right</i><%= link_to "Folders", folders_path(current_company) %></li>
        </ul>

      <% end %>
    </ul>
  </div>
</div>