<div class="row">
  <div class="container-fluid">
    <button type="button" class="btn btn-lg btn-raised btn-primary" id="document-upload-button" data-toggle="modal" data-target="#documentUploadModal">Upload File</button>
      <%= render 'documents/document_upload_modal' %>
  </div>  
</div>

<div class="row">
  <div class="container-fluid">
    <% if @documents.count > 0 %>

      <!-- Display each document as panel -->
      <% @documents.each do |document| %>
        <% unless document.id == nil %>
          <div class="panel panel-default document-panel">
            <div class="panel-body document-panel-body">
              <div class="document-icon">
                <%= image_tag "#{document.file_content_type}" %>
              </div>
              <!-- Delete document link for admin -->
              <% if current_user.role == "admin" %>
                <%= link_to folder_document_path(@folder, document), remote: true, class: "document-delete", method: :delete, data: { confirm: "Are you sure?"} do %>
                  <i class="material-icons">clear</i>
                <% end %>
              <% end %>

              <div class="document-file-type">
                <%= document.file_content_type %>
              </div>
              <div class="document-name">
                <h4><%= document.name %></h4>
              </div>
              <div class="document-file-size">
                <%= number_to_human_size(document.file_file_size) %>
              </div>
              <div class="document-file-update-at">
                <%= document.file_updated_at %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <!-- Message for empty folder -->
      <p>You have no files in this folder. Use the button above to upload a file.</p>
    <% end %>
  </div>
</div>