<div class="modal fade" tabindex="-1" role="dialog" id="documentUploadModal">
  <div class="modal-dialog">
    <div class="modal-content">
<!--       <div class="modal-header">
        Upload document
      </div> -->
      <div class="modal-body">
        <%= form_for(@document, url: folder_documents_path(@folder), remote: true, format: :js) do |f|  %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div>
              <label class="btn btn-default btn-raised btn-file">
                <%= f.label :file, 'Click here to choose file' %>
                <%= f.file_field :file, onchange:"$('#upload-file-info').html($(this).val());" %><br>
              </label>
              <span class='label label-default' id="upload-file-info"></span>
            </div>
          </div>
            <span>
              
            </span>
        
      
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-raised cancel-button" data-dismiss="modal">
            Cancel
          </button>
          <%= f.submit "Upload file", class: "btn btn-primary btn-raised submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>