<%= form_for(@document, url: folder_documents_path(@folder), html: { multipart: true }) do |f|  %>
  <div class="fallback">
    <%= f.file_field :file %><br>
    <%= f.submit "Upload file", class: "" %>
  </div>
<% end %>

<div class="documents-folder">
  <% @documents.each do |document| %>
    <li>
      <%= document.name %>
      <%= image_tag 'icon.jpg' %>
      <!-- DisplayDocument.new(document) -->
    </li>
  <% end %>
</div>