<div class="panel panel-default document-panel">
  <div class="panel-body document-panel-body">
    <div class="document-icon">
      <%= image_tag "#{document.file_content_type}" %>
    </div>
    <!-- Delete document link for admin -->
    <% if current_user.role == "admin" %>
      <%= link_to folder_document_path(@folder, document), remote: true, class: "document-delete", method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="material-icons">clear</i>
      <% end %>
    <% end %>

    <div class="document-file-type">
      <% document.file_content_type %>
      <!-- PDF Viewer -->
      <% if document.file_content_type.include?("pdf") %>
        <!-- CHANGE the URL of this link -->
        <%= link_to "View PDF", document.file.url(:original, false), target: "_blank" %>
      <% end %>
      <!-- Download -->
      <%= link_to "Download", document.file.url(:original, false) %>
      <!-- Edit -->
      <%= link_to "Edit", edit_folder_document_path(@folder, document), remote: true %>
    </div>
    <!-- <div class="document-edit">Edit in browser</div> -->
    <div class="document-name">
      <h5><%= document.name %></h5>
    </div>
    <div class="document-file-size">
      <%= number_to_human_size(document.file_file_size) %>
    </div>
    <div class="document-file-update-at">
      <% unless document.created_at.nil? || document.file_updated_at.nil? %>
        <span class="document-created-at">
        Created at: <%= document.created_at.strftime("%B %e, %Y") %></span>
        Last edited: <%= document.file_updated_at.strftime("%B %e, %Y") %>
      <% else %>
        <!-- This is to avoid partial from breaking when document upload is broken and values are nil -->
        There must have been an error with file upload.
      <% end %>
    </div>
  </div>
</div>