<form method="POST" action="<%= ZohoService.new(document).zoho_url %>" target="_blank" accept-charset="UTF-8">
  <%= hidden_field_tag "url", document.file.url %>
  <%= hidden_field_tag "apikey", "14429e369be91199e238ed416a579a84" %>
  <%= hidden_field_tag "output", "editor" %>
  <%= hidden_field_tag "mode", "normaledit" %>
  <%= hidden_field_tag "filename", document.file_file_name %>
  <%= hidden_field_tag "lang", "en" %>
  <%= hidden_field_tag "id", document.id %>
  <%= hidden_field_tag "format", document.file_format %>
  <%= hidden_field_tag "saveurl", root_url %>
  <%= submit_tag "Edit", class: "btn btn-default zoho-edit", style: "padding: 0; border: 0; margin-top: -3px; color: #3bafda;" %>
</form>