<form method="POST" action="https://writer.zoho.com/writer/remotedoc.im" enctype="multipart/form-data" target="_self" 
accept-charset="UTF-8">
File : <input type="file" name="content" size="38"> <br>
  <%= hidden_field_tag "apikey", Zoho_API_Key %>
  <%= hidden_field_tag "output", "url" %>
  <%= hidden_field_tag "mode", "normaledit" %>
  <%= hidden_field_tag "filename", "" %>
  <%= hidden_field_tag "lang", "en" %>
  <%= hidden_field_tag "id", "" %>
  <%= hidden_field_tag "format", "" %>
  <%= hidden_field_tag "saveurl", folder_document_path(@folder, document), method: "patch" %>
  <%= hidden_field_tag "submit", "" %>



  <input type="hidden" name="apikey" value="Zoho_API_Key">
  <input type="hidden" name="output" value="url">
  <input type="hidden" name="mode" value="normaledit">
  <input type="hidden" name="filename" value="mydocument.docx">
  <input type="hidden" name="lang" value="en">
  <input type="hidden" name="id" value="12345678">
  <input type="hidden" name="format" value="docx">
  <input type="hidden" name="saveurl" value="https://example.com/docs/save.php">
  <input type="submit" name="submit" value="Open">
</form>