
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Permission for <%= user.first_name %></h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% @folders.each do |folder| %>
            <% unless folder.can_be_accessed_by?(user) %>
              <%= form_for(@permission, url: permissions_path, remote: true ) do |f| %>
                <%= hidden_field_tag 'user_id', user.id %>
                <%= hidden_field_tag 'folder_id', folder.id %>
                <li class="list-group-item" id="folder-<%= folder.id %>">
                  <%= f.submit folder.name, class: "btn btn-default permission-modal-button" %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised cancel-button" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
