<h3 class="text-center">Permissions</h3>
<% @users.each do |user| %>
  <% unless user == current_user %>
    <div class="list-group" id="permission-list-user-<%= user.id %>">
      <li class="list-group-item">

        <!-- Add Folder Dropdown -->
        <li class="dropdown permissions-dropdown">
          <a href="#" class="dropdown-button dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false">Add Folder <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% @folders.each do |folder| %>
              <% unless folder.can_be_accessed_by?(user) %>
                <li>
                  <a href="#">
                    <%= form_for(@permission, url: permissions_path(user), method: :post, remote: true ) do |f| %>
                      <%= hidden_field_tag 'user_id', user.id %>
                      <%= hidden_field_tag 'folder_id', folder.id %>
                      <%= f.submit folder.name, class: "btn btn-default dropdown-menu-buttons" %>
                    <% end %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>

        <!-- USER INFO -->
        <h4 class="list-group-item-heading user-permissions-heading">
          <span class="user-name"><%= user.first_name %></span> <span class="user-position"><%= user.position %></span>
        </h4>
      </li>  
        
      <% user.permissions.each do |permission| %>
        <% unless permission.id == nil %>
          <%= render 'permissions/permission_list_item', permission: permission, user: user %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>